[Desktop Entry]
Name=Check Apt GPG
Comment=
GenericName[en_US]=Check for and install missing apt GPG keys
GenericName=Check for and install missing apt GPG keys
Exec=checkaptgpg --wait-at-end
Terminal=true
Icon=checkaptgpg
Type=Application
Categories=PackageManager;System;