[Desktop Entry]
Name=MX Check Apt GPG
Comment=Check and install missing apt GPG keys
Comment[en_US]=Check and install missing apt GPG keys
Comment[fr]=Vérifier les clés GPG pour APT/ Synaptic
Comment[de]=Kontrollieren die GPG-Schlüssel für APT/ Synaptic
Comment[es]=Comprobar las llaves GPG para APT/ Synaptic
Comment[nl]=Controleer de GPG sleutels voor APT/Synaptic
Comment[ca]=Comprovar les claus GPG per APT/ Synaptic
Comment[pl]=Sprawdź i zainstaluj brakujące klucze GPG dla APT i Synaptic
GenericName=Check for and install missing apt GPG keys
GenericName[en_US]=Check for and install missing apt GPG keys
GenericName[fr]=Vérifier les clés GPG pour APT/ Synaptic
GenericName[de]=Kontrollieren die GPG-Schlüssel für APT/ Synaptic
GenericName[es]=Comprobar las llaves GPG para APT/ Synaptic
GenericName[nl]=Controleer de GPG sleutels voor APT/Synaptic
GenericName[it]=Controllare le chiavi GPG per APT/Synaptic
GenericName[ca]=Comprovar les claus GPG per APT/ Synaptic
GenericName[pl]=Sprawdź i zainstaluj brakujące klucze GPG dla APT i Synaptic
#Exec=pkexec checkaptgpg --wait-at-end
Exec=su-to-root -X -c "x-terminal-emulator -e 'bash checkaptgpg --wait-at-end'"
#Terminal=true
Terminal=false
Icon=checkaptgpg
Type=Application
Categories=PackageManager;System;
NotShowIn=KDE;
