Source: checkaptgpg
Section: admin
Priority: optional
Maintainer: Steve Pusser <maintainer@mepiscommunity.org>
Bugs: mailto: <maintainer@mepiscommunity.org>
XSBC-Original-Maintainer: James Carr <maintainer@mepiscommunity.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://mepiscommunity.org/

Package: checkaptgpg
Architecture: all
Depends: gnupg, apt
Description: check and add missing GPG keys needed by apt
 Check Apt GPG will scan the already downloaded Release files cached by apt
 (and siblings) and will check that any needed GPG keys are available. It will
 print a GPG status for each repository found. If one or more GPG keys are
 found to be missing it will request root password and run again as root
 and attempting to download the missings GPG key(s) from
 hkp://wwwkeys.eu.pgp.net.
